.encounter-backround {
    text-align: center;
    opacity: 0;
}

#shades {
    text-align: center;
    opacity: 0.30;
    position: absolute;
    top: 0;
    right: 0;
    display: none
}

#darkpattern-shade {
    text-align: center;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    display: inline
}

#dialog-box {
    text-align: center;
    background-clip: padding-box;
    background-color: var(--dialogBoxColor, dodgerblue);
    border-width: 8px;
    border-style: solid;
    border-image: url("../images/border.gif");
    border-image-repeat: repeat;
    border-image-slice: 10;
    border-image-width: 16px;
    color: white;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: x-large;
    image-rendering: crisp-edges;
    padding: 8px;
    text-shadow: 2px 2px 1px black;
    height: 35px;
}

.action-button {
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 2em; 
    font-family: 'Trebuchet MS', sans-serif; 
    font-size: 30px; 
    text-shadow: 2px 2px 1px black;
}

.ui-text {
    color: white;
    background: none;
    border: none;
    /* margin-right: 2em;  */
    font-family: 'Trebuchet MS', sans-serif; 
    font-size: 17pt; 
    text-shadow: 2px 2px 1px black;
}

.menu-box {
    background-color: dodgerblue;
    height: 120px;
    bottom: 0;
    left: 0;
    right: 0;
    position:absolute;
    border-style: solid; 
    border-image: url('../images/border.gif');
    border-image-repeat: repeat; 
    border-image-slice: 10; 
    border-image-width: 16px;
    display: none;
}

.sub-menu-box {
    width: 250px;
    height: 290px;
    margin-bottom: 126px;
}

#main-menu {
    bottom: 0; 
    left: 0; 
    right: 0; 
}

#main-menu-button-container { 
    width: 100%;
}

.menu-button-container {
    margin-top: 43px;
    display: none;
}

.sub-menu-button-container {
    width: 305px;
    height: 20px;
    justify-items: center;
    padding-bottom: 180px;
    row-gap: 45px;
    margin-top: 42px;
}


#dialog-container {
    text-align: center;
    position: absolute;
    display: inline-block;
    opacity: 0;
    width: 960px;
}

#player-hp-menu {
    display: none;
    margin-bottom: 126px;
    margin-left: 754px;
    height: 85px;
    width: 200px;
}

#player-hp-button-container {
    width: 145px;
    padding-bottom: 40px;
    margin-left: 25px;
    margin-top: 30px;
}

#macrowave-charge {
    text-align: center;
    position: absolute;
    margin-left: 265px;
    width: 384px;
    height: 384px;
    opacity: 0;
    bottom: 0;
}

#macrowave-release {
    text-align: center;
    position: absolute;
    margin-left: 265px;
    width: 384px;
    height: 384px;
    opacity: 0;
    bottom: 0;
}

#sword-slash{
    text-align: center;
    position: absolute;
    margin-left: 265px;
    width: 384px;
    height: 384px;
    display: none;
    margin-top: 150px;
    
}

.spam{
    text-align: center;
    position: absolute;
    /* margin-left: 265px; */
    width: 400px;
    height: 184px;
    display: none;
    
}

#spam-gateway{
    margin-left: 500px;
    margin-top: 100px;
}

#spam-ipod{
    margin-top: 20px;
}

#spam-netflix{
    margin-top: 280px;
    margin-left: 100px;
}

#spam-contest{
    margin-top: 150px;
}

#spam-youtube{
    bottom:0;
}